<div class="main-sidebar sidebar-style-3">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="{% url 'login' %}">RhOnline</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'login' %}">RH</a>
        </div>
        <ul class="sidebar-menu">
        <!--Menu Parametre-->
            <li class="menu-header">Settings</li>
                <li><a class="nav-link" href="{% url 'liste_departement' %}"><i class="fa fa-building"></i><span>Departement</span></a></li>
                <li><a class="nav-link" href="{% url 'liste_poste' %}"><i class="fa fa-briefcase"></i> </i> <span>Poste</span></a></li>
                <li><a class="nav-link" href="{% url 'liste_liemploi' %}"><i class="fa fa-map-marker"></i> </i> <span>Lieu Emploie</span></a></li>
                <li><a class="nav-link" href="{% url 'add_tconges' %}"><i class="fas fa-calendar-week"></i> <span>Type de Congés</span></a></li>

<!--            Menu de employe-->
            <li class="menu-header">Employé</li>
                <li><a class="nav-link" href="{% url 'create_employe' %}"><i class="fa fa-user"></i><span>Employé</span></a></li>
                <li><a class="nav-link" href="{% url 'liste_employe' %}"><i class="fa fa-search"></i> </i> <span>Recherche</span></a></li>
<!--        Menu des contrats-->
            <li class="menu-header">Contrat</li>
                <li><a class="nav-link" href="{% url 'contrat_liste_emp' %}"><i class="fa fa-list"></i><span>Liste</span></a></li>

<!--        Menu des Presence-->
            <li class="menu-header">Presence</li>
                <li><a class="nav-link" href="blank.html"><i class="fa fa-calendar-check"></i><span>Recap</span></a></li>
                <li><a class="nav-link" href="{% url 'liste_presence' %}"><i class="fa fa-list"></i><span>Liste</span></a></li>
<!--        Menu des Congés-->
            <li class="menu-header">Congés</li>
                <li><a class="nav-link" href="{% url 'conges_liste_emp' %}"><i class="fa fa-plus-circle"></i><span>Ajouter</span></a></li>
                <li><a class="nav-link" href="blank.html"><i class="fa fa-list"></i><span>Liste</span></a></li>
<!--        Menu des Sinistre-->
            <li class="menu-header">Sinistres</li>
                <li><a class="nav-link" href="{% url 'sinistre_liste_emp' %}"><i class="fa fa-plus-circle"></i><span>Ajouter</span></a></li>
                <li><a class="nav-link" href="#"><i class="fa fa-list"></i><span>Liste</span></a></li>

        </ul>
        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="https://getcodiepie.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split"><i class="fas fa-rocket"></i> Documentation</a>
        </div>
    </aside>
</div>