<!DOCTYPE html>
<html lang="en">

<!--   Tue, 07 Jan 2020 03:33:27 GMT -->
<head>
    {% load static %}
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>RhOnline</title>

<!-- General CSS Files -->
<link rel="stylesheet" href="{% static '' %}assets/modules/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/fontawesome/css/all.min.css">

{% block head%}

{%endblock%}
<!-- CSS Libraries -->
<link rel="stylesheet" href="{% static '' %}assets/modules/jqvmap/dist/jqvmap.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/summernote/summernote-bs4.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">

<!-- Template CSS -->
<link rel="stylesheet" href="{% static '' %}assets/css/style.min.css">
<link rel="stylesheet" href="{% static '' %}assets/css/components.min.css">

</head>
<body class="layout-4">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        <!-- Start app top navbar -->
        {% include 'panel/header.html' %}

        <!-- Start main left sidebar menu -->
        {% include 'panel/aside.html' %}

        <!-- Start app main Content -->
        {%block body%}

        {%endblock%}

        <!-- Start app Footer part -->
        {% include 'panel/footer.html' %}

        {%block foot%}

        {%endblock%}

    </div>
</div>

<!-- General JS Scripts -->

</body>

<!--   Tue, 07 Jan 2020 03:35:12 GMT -->
</html>