{% extends 'panel/base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static '' %}assets/modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/jquery-selectric/selectric.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
<!-- CSS Libraries -->
<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

{% endblock %}
{% block body %}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>SINISTRE</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Modules</a></div>
                <div class="breadcrumb-item">DataTables</div>
            </div>
        </div>

        {% if messages %}
        {% for message in messages%}
        <div class="alert alert-{{message.tags}}">{{message}}.</div>
        {%endfor%}
        {% endif %}

        <div class="section-body">
            <div class="row">

                <div class="col-12 col-12">
                    <form class="needs-validation" novalidate="" method="POST">
                        {% csrf_token %}

                        <div class="card">
                            <div class="card-header">
                                <h2>
                                    {{listing.name}} {{listing.prenom}}
                                </h2>
                            </div>
                            <div class="card-body">

                                <div class="row d-flex justify-content-center">
                                    <div class="form-group col-lg-8 col-sm-12">
                                        <label for="ramba">Date de sinistre</label>
                                        <input type="date" id="ramba" class="form-control" name="datedeclaration" value="{{ showsinistre.datesinistre|date:'Y-m-d' }}">
                                    </div>

                                </div>

                                <p></p>

                                <div class="row d-flex justify-content-center">
                                    <div class="form-group col-lg-8 col-sm-8">
                                        <label for="miss">Description</label>
                                        <textarea class="form-control" id="miss" name="explain"
                                                  style="height:250px;">{{ showsinistre.description }}</textarea>
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center">
                                    <div class="form-group col-lg-8 col-sm-8">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Modifier

                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{%block foot%}

<script src="{% static '' %}js/jquery.mask.js"></script>

<script src="{% static '' %}assets/modules/jquery-ui/jquery-ui.min.js"></script>

<!-- Page Specific JS File -->

<script src="{% static '' %}assets/modules/select2/dist/js/select2.full.min.js"></script>

<!--<script src="{% static '' %}assets/modules/cleave-js/dist/cleave.min.js"></script>-->
<script src="{% static '' %}js/page/forms-advanced-forms.js"></script>

<!-- JS Libraies -->
<script src="{% static '' %}assets/modules/izitoast/js/iziToast.min.js"></script>

<!-- Page Specific JS File -->

{%endblock%}