{% extends 'panel/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}

<link rel="stylesheet" href="{% static '' %}assets/modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/jquery-selectric/selectric.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">

<!-- CSS Libraries -->

<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

{% endblock %}
{% block body %}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>SINISTRES agent : {{listing.name}} {{listing.prenom}} </h1>

        </div>

        <div class="section-body">
            {% include 'panel/background_image_card.html' %}

            <div class="row">

                <div class="col-12 col-12">

                    {% for showsinistre in showsinistres %}
                    <div class="card">

                        <div class="card-body">
                            <div class="card">


                                <div class="card-header">


                                    <h4>
                                        <p>
                                            Date de l'incident :

                                            {% language 'fr' %}
                                                {{ showsinistre.datesinistre|date:'d E Y' }}
                                            {% endlanguage %}



                                        </p>
                                    </h4>
                                    <div class="card-header-action">
                                        <a data-collapse="#mycard-collapse-{{showsinistre.id}}"
                                           class="btn btn-icon btn-info"
                                           href="#"><i class="fas fa-minus"></i></a>
                                    </div> &nbsp;

                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Options</a>
                                        <div class="dropdown-menu">

                                            <a href="{% url 'sinistre_edit' showsinistre.id %}"
                                               class="dropdown-item has-icon"><i class="far fa-edit"></i>Modifier</a>
                                            <a href="{% url 'sinistre_del' showsinistre.id %}"
                                               class="dropdown-item has-icon text-danger"><i
                                                    class="far fa-trash-alt"></i>Supprimer</a>

                                        </div>
                                    </div>

                                </div>


                                <div class="collapse show" id="mycard-collapse-{{showsinistre.id}}">
                                    <div class="card-body">

                                        <p>Description sinistre:</p>

                                        <blockquote class="blockquote">

                                            <span class="mb-0" style="font-family: Verdana, Arial, Tahoma, Serif;"> {{ showsinistre.description }} </span>

                                        </blockquote>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                    {% empty %}
                    <div class="display-2 text-muted text-center">
                        AUCUN SINISTRE ENREGISTRÉ
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{%block foot%}


<script src="{% static '' %}assets/modules/jquery-ui/jquery-ui.min.js"></script>

<!-- Page Specific JS File -->

<script src="{% static '' %}assets/modules/select2/dist/js/select2.full.min.js"></script>

<!--<script src="{% static '' %}assets/modules/cleave-js/dist/cleave.min.js"></script>-->
<script src="{% static '' %}js/page/forms-advanced-forms.js"></script>

<!-- JS Libraies -->


<script src="{% static '' %}assets/modules/sweetalert/sweetalert.min.js"></script>
<script>
    {% include 'panel/sweetalert_conditions/sweetalert.html' %}
</script>

{%endblock%}