{% extends 'panel/base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static '' %}assets/css/passwordeye.css">

<link rel="stylesheet" href="{% static '' %}assets/modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/jquery-selectric/selectric.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">

<!-- CSS Libraries -->

<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

{% endblock %}
{% block body %}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>CONTRAT</h1>

        </div>


        <div class="section-body">
            <div class="row">

                <div class="col-12 col-12">
                    <form class="needs-validation" novalidate="" method="POST">
                        {% csrf_token %}

                        <div class="card">
                            <div class="card-header">
                                <h2>
                                    {{listing.name}} {{listing.prenom}}
                                </h2>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label>Type de Contrat</label>
                                        <select class="form-control select2" name="contratype">

                                            {% if showcontrats.typecontrat == "STG" %}
                                            <option value="STG" selected="selected">Stage</option>
                                            <option value="CDD">Contrat à durée déterminé(CDD)</option>
                                            <option value="CDI">Contrat à durée indéterminé(CDI)</option>

                                            {% elif showcontrats.typecontrat == "CDD"  %}
                                            <option value="STG">Stage</option>
                                            <option value="CDD" selected="selected">Contrat à durée déterminé(CDD)</option>
                                            <option value="CDI">Contrat à durée indéterminé(CDI)</option>

                                            {% else %}
                                            <option value="STG">Stage</option>
                                            <option value="CDD">Contrat à durée déterminé(CDD)</option>
                                            <option value="CDI" selected="selected">Contrat à durée indéterminé(CDI)</option>
                                            {% endif %}

                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 col-sm-12">
                                        <label>Date de Debut</label>
                                        <input type="date" class="form-control" name="debutcontrat" value="{{ showcontrats.datedebut|date:'Y-m-d' }}">
                                    </div>

                                    <div class="form-group col-lg-6 col-sm-12">
                                        <label>Date de Fin</label>
                                        <input type="date" class="form-control" name="fincontrat" value="{{ showcontrats.datefin|date:'Y-m-d' }}">

                                    </div>
                                </div>

                                <p></p>

                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label>Salaire</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    FCFA
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" name="paye" value="{{ showcontrats.salaire }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label for="miss">Mission</label>
                                        <textarea class="form-control" id="miss"  name="role" style="height:250px;" >{{ showcontrats.mission }}</textarea>
                                    </div>
                                </div>

                                <div class="form-group d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block col-6">Modifier

                                    </button>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{%block foot%}

<script src="{% static '' %}js/passwordeye.js"></script>

<script src="{% static '' %}js/jquery.mask.js"></script>

<script src="{% static '' %}assets/modules/jquery-ui/jquery-ui.min.js"></script>

<!-- Page Specific JS File -->

<script src="{% static '' %}assets/modules/select2/dist/js/select2.full.min.js"></script>

<!--<script src="{% static '' %}assets/modules/cleave-js/dist/cleave.min.js"></script>-->
<script src="{% static '' %}js/page/forms-advanced-forms.js"></script>

<!-- JS Libraies -->
<script src="{% static '' %}assets/modules/sweetalert/sweetalert.min.js"></script>
<script>
    {% include 'panel/sweetalert_conditions/sweetalert.html' %}
</script>

{%endblock%}