{% extends 'panel/base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static '' %}assets/modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/jquery-selectric/selectric.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">

<!-- CSS Libraries -->

<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

{% endblock %}
{% block body %}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>CONTRAT</h1>

        </div>


        <div class="section-body">
{% include 'panel/background_image_card.html' %}

            <div class="row">

                <div class="col-12 col-12">
                    <form class="needs-validation" novalidate="" method="POST">
                        {% csrf_token %}

                        <div class="card">
                            <div class="card-header">
                                <h2>
                                    {{listing.name}} {{listing.prenom}}
                                </h2>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label>Type de Congés</label>
                                        <select class="form-control select2" name="congesype">
                                            {% for typeconge in typeconges %}
                                            <option value="{{ typeconge.id }}" {% if showconges.typeconges.id == typeconge.id %} selected
                                           {%endif%} > {{ typeconge.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 col-sm-12">
                                        <label>Date de Debut</label>
                                        <input type="date" class="form-control" name="debutconges" value="{{ showconges.datedebut|date:'Y-m-d' }}">
                                    </div>

                                    <div class="form-group col-lg-6 col-sm-12">
                                        <label>Date de Fin</label>
                                        <input type="date" class="form-control" name="finconges" value="{{ showconges.datefin|date:'Y-m-d' }}">
                                    </div>
                                </div>

                                <p></p>

                                <div class="row">
                                    <div class="form-group col-lg-12 col-sm-12">
                                        <label for="miss">Description</label>
                                        <textarea class="form-control" id="miss" name="explain"
                                                  style="height:250px; font-family: Verdana, Arial, Tahoma, Serif; font-size:20px;">{{showconges.description}}</textarea>
                                    </div>
                                </div>

                                <div class="form-group d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block col-6">Modifier

                                    </button>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{%block foot%}

<script src="{% static '' %}js/passwordeye.js"></script>

<script src="{% static '' %}js/jquery.mask.js"></script>

<script src="{% static '' %}assets/modules/jquery-ui/jquery-ui.min.js"></script>

<!-- Page Specific JS File -->

<script src="{% static '' %}assets/modules/select2/dist/js/select2.full.min.js"></script>

<!--<script src="{% static '' %}assets/modules/cleave-js/dist/cleave.min.js"></script>-->
<script src="{% static '' %}js/page/forms-advanced-forms.js"></script>

<script src="{% static '' %}assets/modules/sweetalert/sweetalert.min.js"></script>
<script>
    {% include 'panel/sweetalert_conditions/sweetalert.html' %}
</script>

{%endblock%}