{% extends 'panel/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}

<!-- CSS Libraries -->
<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/datatables.min.css">
<link rel="stylesheet"
      href="{% static '' %}assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

<link rel="stylesheet" href="{% static '' %}assets/modules/izitoast/css/iziToast.min.css">

{% endblock %}
{% block body %}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>EMPLOYE</h1>

        </div>

        <div class="section-body">
{% include 'panel/background_image_card.html' %}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Liste Presence</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped v_center" id="table-2">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <div class="custom-checkbox custom-control">
                                                <input type="checkbox" data-checkboxes="mygroup"
                                                       data-checkbox-role="dad" class="custom-control-input"
                                                       id="checkbox-all">
                                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Entré</th>
                                        <th class="text-center">Sortie</th>
                                        <th class="text-center">Heure de travail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in listing %}
                                    <tr>
                                        <td class="text-center">
                                            <div class="custom-checkbox custom-control">
                                                <input type="checkbox" data-checkboxes="mygroup"
                                                       class="custom-control-input" id="checkbox-{{i.id}}">
                                                <label for="checkbox-{{i.id}}"
                                                       class="custom-control-label">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td class="text-center">{{ i.employe.name }} {{ i.employe.prenom }}</td>
                                        <td class="text-center">
                                            {% language 'fr' %}
                                            {{ i.datedebut|date:"d E Y H:i:s"}}

                                            {% endlanguage %}
                                        </td>
                                        <td class="text-center">
                                            {% language 'fr' %}
                                            {{ i.datefin|date:'d E Y H:i:s ' }}
                                            {% endlanguage %}
                                        </td>
                                        <td class="text-center">{{ i.calcultime }}</td>

                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{%block foot%}
<script src="{% static '' %}assets/modules/datatables/datatables.min.js"></script>
<script src="{% static '' %}assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static '' %}assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
<script src="{% static '' %}assets/modules/jquery-ui/jquery-ui.min.js"></script>

<!-- Page Specific JS File -->
<script src="{% static '' %}js/page/modules-datatables.js"></script>

<!-- JS Libraies -->
<script src="{% static '' %}assets/modules/sweetalert/sweetalert.min.js"></script>
<script>
    {% include 'panel/sweetalert_conditions/sweetalert.html' %}
</script>

{%endblock%}