{% extends 'panel/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/jquery-selectric/selectric.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">


{% endblock %}
{% block body %}

<div style="z-index:0 !important; margin-top:75px; margin-left:140px !important; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-image: url({% static '' %}asset/img/logo/RhOnline_Logo.svg); background-position-y: -30px !important; background-position: center; background-repeat: no-repeat;  opacity:0.03;">
                                </div>
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>EMPLOYE</h1>

        </div>

        {% if messages %}
        {% for message in messages%}
        <div class="alert alert-{{message.tags}}">{{message}}.</div>
        {%endfor%}
        {% endif %}

        <div class="section-body">
            <div class="row">

                <div class="col-12 col-12">

                    <div class="card">
                        <div class="card-header">
                            <h2>
                                Information Personnelles
                            </h2>
                        </div>
                        <div class="card-body" style="z-index:1;">


                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                        <!-- Contenu colonne 1 -->
                                        <label>Nom</label>
                                        <input value="{{ listing.name }}" class="form-control" readonly="">
                                    </div>
                                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                        <!-- Contenu colonne 2 -->
                                        <label>Prénom</label>
                                        <input value="{{ listing.prenom }}" class="form-control" readonly="">
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="form-group col-sm-10 col-md-6 col-lg-6">
                                        <label>Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-paper-plane"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" value="{{ listing.emailemp }}" readonly>
                                        </div>
                                    </div>


                                    <div class="form-group col-sm-10 col-md-6 col-lg-6">
                                        <!-- Contenu colonne 2 -->
                                        <label>Catégorisation</label>
                                        <input value="{{ compte.statutemp }}" class="form-control" readonly="">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--SECOND SECTION-->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">




                                <div class="form-group col-sm-10 col-md-6 col-lg-6" style="z-index:1;">
                                    <label>Département</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-hotel"></i>
                                            </div>
                                        </div>
                                        <input class="form-control" value="{{ listing.departement.name }}" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-sm-10 col-md-6 col-lg-6">
                                    <label>Lieu D'emploie</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-map-marker-alt"></i>

                                            </div>
                                        </div>
                                        <input class="form-control" value="{{ listing.lieuemploie.name }}" readonly>
                                    </div>
                                </div>

                            </div>

                            <p></p>
                            <div class="row">

                                <div class="form-group col-sm-10 col-md-6 col-lg-6">
                                    <label>Poste</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">

                                                <i class="fas fa-handshake"></i>

                                            </div>
                                        </div>
                                        <input class="form-control" value="{{ listing.poste.name }}" readonly="">
                                    </div>
                                </div>


                                <div class="form-group col-sm-10 col-md-6 col-lg-6">
                                    <label>Adresse</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">

                                                <i class="fas fa-map-pin"></i>

                                            </div>
                                        </div>
                                        <input class="form-control" value="{{ listing.adress }}" readonly="">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label>Genre</label>
                                    <input value="{{ listing.getGenre }}" class="form-control" readonly="">
                                </div>
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label>Date de Naissance</label>
                                    <input readonly="" class="form-control"
                                           value="{% language 'fr' %}{{ listing.datenaiss|date:'d E Y' }}{% endlanguage %}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label>Téléphone</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                        </div>
                                        <input class="form-control" value="{{ listing.phone1 }}" readonly="">
                                    </div>
                                </div>

                                <div class="form-group col-lg-6 col-sm-12">
                                    <label>Téléphone2</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                        </div>
                                        <input class="form-control" value="{{ listing.phone2 }}" readonly="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group col-sm-10 col-md-6 col-lg-6">
                                    <label>Numéro Bancaire</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-credit-card"></i>
                                            </div>
                                        </div>
                                        <input class="form-control creditcard" value="{{ listing.numbank }}" readonly>
                                    </div>
                                </div>


                                <div class="form-group col-lg-6 col-sm-12">
                                    <label>Statut Matrimonial</label>
                                    <input class="form-control" value="{{ listing.getStatutMat }}" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label>Nombre d'Enfants</label>
                                    <input class="form-control" value="{{ listing.nbrechild }}" readonly="">
                                </div>

                                <div class="form-group col-lg-6 col-sm-12">
                                    <label>Contact d'Urgence</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                        </div>
                                        <input class="form-control" value="{{ listing.contacturgence }}" readonly="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{%block foot%}


<script src="{% static '' %}js/jquery.mask.js"></script>

<script src="{% static '' %}assets/modules/jquery-ui/jquery-ui.min.js"></script>

<!-- Page Specific JS File -->

<script src="{% static '' %}assets/modules/select2/dist/js/select2.full.min.js"></script>
<script src="{% static '' %}js/page/forms-advanced-forms.js"></script>

<!-- JS Libraies -->

<!-- Page Specific JS File -->

{%endblock%}