{% extends 'panel/base2.html' %}
{% load static %}

{% block head %}

<title>Menu Page</title>

{% endblock %}
{% block body %}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav">
                    <li>
                        <a href="https://jasminegump.com" target="_blank">
                            <i class="fas fa-home fa-3x home">
                                <div class="circle"></div>
                            </i>
                            <div class="title">Home</div>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/ladyjellington" target="_blank">
                            <i class="fab fa-twitter fa-3x twitter">
                                <div class="circle"></div>
                            </i>
                            <div class="title">Twitter</div>
                        </a>
                    </li>

                    <li>
                        <a href="https://codepen.io/ladyjellington" target="_blank">
                            <i class="fab fa-codepen fa-3x codepen">
                                <div class="circle"></div>
                            </i>
                            <div class="title">Codepen</div>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/jasminegmp" target="_blank">
                            <i class="fab fa-github fa-3x github">
                                <div class="circle"></div>
                            </i>
                            <div class="title">Github</div>
                        </a>
                    </li>
                    <div class="background"></div>

                </ul>


            </div>
        </div>
    </div>
</section>
{% endblock %}

{%block foot%}

{%endblock%}