{% extends 'panel/base2.html' %}
{% load static %}

{% block head %}

<title>Menu Page</title>

{% endblock %}
{% block body %}
<div class="section-body">
    <div class="">
        <div class="col-12">
            <div class="card">
                <div class="card-header border border-success d-flex justify-content-center">
                    <div class="">
                        <h4>BIENVENUE
                            {% if user.employe.genre == 'F' %}
                            Mme
                            {% else %}
                            Mr
                            {% endif %}
                            {{user.employe}}

                        </h4>
                    </div>
                </div>
                <div class="card-body" style="margin-top:8%;">
                    <div class="row mt-4">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <div class="wizard-steps">
                                <div class="wizard-step wizard-step-active">
                                    <a href="#" class="text-white">
                                        <div class="wizard-step-icon">
                                            <i class="fas fa-users"></i>
                                        </div>
                                        <div class="wizard-step-label">
                                            EMPLOYÉ
                                        </div>
                                    </a>
                                </div>
                                <div class="wizard-step wizard-step-active">
                                    <a href="#" class="text-white">
                                        <div class="wizard-step-icon">
                                            <i class="fas fa-file-contract"></i>
                                        </div>
                                        <div class="wizard-step-label">
                                            CONTRAT
                                        </div>
                                    </a>
                                </div>
                                <div class="wizard-step wizard-step-active">
                                    <a href="#" class="text-white">
                                        <div class="wizard-step-icon">
                                            <i class="fas fa-user-clock"></i>
                                        </div>
                                        <div class="wizard-step-label">
                                            PRESENCE
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <div class="wizard-steps">
                                <div class="wizard-step wizard-step-active">
                                    <a href="#" class="text-white">
                                        <div class="wizard-step-icon">
                                            <i class="fas fa-calendar-week"></i>
                                        </div>
                                        <div class="wizard-step-label">
                                            CONGÉ
                                        </div>
                                    </a>
                                </div>
                                <div class="wizard-step wizard-step-active">
                                    <a href="#" class="text-white">
                                        <div class="wizard-step-icon">
                                            <i class="fas fa-car-crash"></i>
                                        </div>
                                        <div class="wizard-step-label">
                                            SINISTRE
                                        </div>
                                    </a>
                                </div>
                                <div class="wizard-step wizard-step-active">
                                    <a href="#" class="text-white">
                                        <div class="wizard-step-icon">
                                            <i class="fas fa-cogs"></i>
                                        </div>
                                        <div class="wizard-step-label">
                                            PARAMETRE
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{%block foot%}

{%endblock%}