{% extends 'panel/base.html' %}
{% load static %}

{% block head %}

<!-- CSS Libraries -->
<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/datatables.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="{% static '' %}assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

<link rel="stylesheet" href="{% static '' %}assets/modules/izitoast/css/iziToast.min.css">

{% endblock %}
{% block body %}


<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Type de Congés</h1>

        </div>

{% if messages %}
{% for message in messages%}
    <div class="alert alert-{{message.tags}}">{{message}}.</div>
{%endfor%}
{% endif %}

        <div class="section-body">
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <form class="needs-validation" novalidate="" method="POST">
                            {% csrf_token %}
                            <div class="card-header">
                                <h4>Enregistrement Type de congé</h4>
                            </div>
                            <div class="card-body">
                                {{ forms.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-primary">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Liste Type de congé</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped v_center" id="table-2">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <div class="custom-checkbox custom-control">
                                                <input type="checkbox" data-checkboxes="mygroup"
                                                       data-checkbox-role="dad" class="custom-control-input"
                                                       id="checkbox-all">
                                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in listing %}
                                        <tr>
                                            <td class="text-center">
                                                <div class="custom-checkbox custom-control">
                                                    <input type="checkbox" data-checkboxes="mygroup"
                                                           class="custom-control-input" id="checkbox-{{i.id}}">
                                                    <label for="checkbox-{{i.id}}" class="custom-control-label">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td class="text-center">{{ i.name }}</td>
                                            <td class="text-center">{{ i.description }}</td>

                                            <td class="text-center">
                                                <a href="{% url 'edit_tconges' i.id %}" class="btn btn-secondary">Modifier</a>
                                                <a href="{% url 'delete_tconges' i.id %}" onclick="return confirm('Êtes vous sure de vouloir Supprimer ({{ i.name }}) ?');" class="btn btn-danger">Supprimer</a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{%block foot%}
<script src="{% static '' %}assets/modules/datatables/datatables.min.js"></script>
<script src="{% static '' %}assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static '' %}assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
<script src="{% static '' %}assets/modules/jquery-ui/jquery-ui.min.js"></script>

<!-- Page Specific JS File -->
<script src="{% static '' %}js/page/modules-datatables.js"></script>

<!-- JS Libraies -->
<script src="{% static '' %}assets/modules/izitoast/js/iziToast.min.js"></script>

<!-- Page Specific JS File -->
<script src="{% static '' %}js/page/modules-toastr.js"></script>

{%endblock%}